{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Котокафе "Мурзик" - это уникальное место, где соединяются любовь к котикам и уютная атмосфера кафе. Наша история началась в 2020 году, когда группа энтузиастов решила создать пространство, в котором каждый посетитель сможет отдохнуть душой в компании ласковых пушистых друзей.</p>

<p>Все наши котики были спасены из приютов или улицы и теперь живут в комфортных условиях, окруженные заботой и вниманием. Мы сотрудничаем с ветеринарами, чтобы обеспечить нашим питомцам самый лучший уход.</p>

<p>При посещении нашего котокафе, вы не только получаете возможность пообщаться с котиками, но и помогаете нам поддерживать их благополучие. Часть средств от каждого посещения идет на корм, игрушки и медицинское обслуживание наших пушистых обитателей.</p>

<p>Приходите к нам и подарите себе немного счастья в компании самых очаровательных созданий на планете!</p>

{% endblock %}
