{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    ул. Университетская, д. 35<br />
    г. Сургут, 123456<br />
    Тел: +7 (800) 555-35-35
</address>

<address>
    <strong>Администрация:</strong> <a href="mailto:admin@kotocafe.ru">admin@kotocafe.ru</a><br />
    <strong>Бронирование:</strong> <a href="mailto:booking@kotocafe.ru">booking@kotocafe.ru</a>
</address>

<h4>Режим работы:</h4>
<p>
    Пн-Чт: 10:00 - 22:00<br />
    Пт-Вс: 10:00 - 23:00
</p>

{% endblock %}
