{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Котокафе "Мурзик"</h1>
    <p class="lead">Добро пожаловать в уютное пространство, где вы можете насладиться вкусными напитками в компании пушистых друзей!</p>
    <p><a href="#" class="btn btn-primary btn-large">Забронировать столик &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Наши котики</h2>
        <p>
            У нас живет более 15 котиков разных пород и окрасов. 
            Все они очень дружелюбны и обожают внимание посетителей. 
            Каждый из них имеет свой уникальный характер и историю.
        </p>
        <p><a class="btn btn-default" href="#">Познакомиться с котиками &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Меню</h2>
        <p>Мы предлагаем широкий выбор кофейных и чайных напитков, а также десертов и легких закусок. Все наши блюда приготовлены с любовью и заботой.</p>
        <p><a class="btn btn-default" href="#">Посмотреть меню &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Мероприятия</h2>
        <p>Регулярно проводим тематические вечера, мастер-классы и дни рождения котиков. Следите за нашим расписанием, чтобы не пропустить интересные события!</p>
        <p><a class="btn btn-default" href="#">Календарь событий &raquo;</a></p>
    </div>
</div>

{% endblock %}
